<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>

    <style>

      

      p.thick{
       font-weight: normal; 
      }

      p{
        font_size:12px;
       
      }


      input[type=submit] {
    background-color: #6666cc;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #6666cc;
}

     
    

     
      </style>
    
</head>

<body>

<p>Types of animals feeds </p><br>
 

  
  <form>
    <div class"farida>
 <select name="feeds">
   <option value ="Commercial feeds ">commercial feeds</option>
   
   <option value ="animals feeds">Homemade feeeds</option>
     
  
   
  </select>
    </div>
    

   <p>Tyes of animals</p>


   <select name="Animals ">
      <option value ="Pigs">pigs</option>
   <option value ="Chicken">chiken</option>
   <option value ="Cows">cows</option>
   
  </select><br><br>
 


  <input type="submit" value="Submit">
</form>
    
    </div>
</body>
</html>

















